.bannerCoverContainer{
  background-image: url("../assets/home-cover.png");
  position: relative;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: calc(100vh - 132px);
  }
.bannerCoverContainer:before{
  content: " ";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(140deg, rgba(0, 0, 0, .75) 52.45%, rgba(0, 0, 0, .1) 100%);
}
.bannerContentContainer{
  position: absolute;
  width: 65%;
  z-index: 2;
  /* border: 2px solid white; */
  color: white;
  background: transparent;
  margin-top: 8.5rem;
  height: auto;
}
.bannerHeading{
  font-weight: 700;
  font-size: 2.4rem;
}
.bannerPara{
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #C8C8C8;
}
.bannerContentContainer > a {
  margin-top: 5rem;
  background: rgb(203,99,99);
  background: linear-gradient(114deg, rgba(203,99,99,1) 0%, rgba(236,34,37,1) 100%);
  color: white;
  font-weight: 500;
  font-size: 19px;
  padding: 12px calc(27px * 2.5) 12px calc(27px * 2.5);
  border-radius: 4px;
}
.bannerContentContainer > a:hover{
  background: #ED3232;
}